<p id="notice"><%= notice %></p>

<h1>Listing Userways</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @userways.each do |userway| %>
      <tr>
        <td><%= userway.name %></td>
        <td><%= userway.password %></td>
        <td><%= link_to 'Show', userway %></td>
        <td><%= link_to 'Edit', edit_userway_path(userway) %></td>
        <td><%= link_to 'Destroy', userway, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Userway', new_userway_path %>
